body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    margin-right: 200px;
}

.header-link {
    text-decoration: none;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    height: 91.833px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 50px 200px 100px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.image-placeholder {
    background-color: #6E747C;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    width: 500px;
}
.hero-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    width: 400px;
    margin-bottom: 0;
    margin-top: 0;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
    margin: 8px 0px;
}

.signup-button {
    background-color: #3882F6;
    padding: 8px 32px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    align-self: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 20px 100px 200px 200px;
    align-items: center;
}

.info-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-bottom: 50px;
}

.info-medias {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box {
    border: #3882F6 4px solid;
    width: 200px;
    height: 200px;
    border-radius: 16px;
}

.info-text {
    text-align: center;
    width: 200px;
}